 *{
    background-color: black;
    margin: 0%;
    padding: 0%;
    color: #fff;
 }
 .main{
     width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
    top: 180px; 
    
 }
 .heading{
    color: black;
    background-color: white;
     width:40vh;
    height: 10vh;
    
    
 }
 .clock span{
    background-color: transparent;
    position: relative;
    top: 10px;
    display: block;
font-size: 4rem;
font-weight: 400;
 }
 .clock{
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
     width:60vh;
    height: 15vh;
    border-radius: 2px;
    background-color: orange;
    border-radius: 10px;
 }
 @media (max-width:360px){
      .clock{
     width:35vh;
    height:10vh;
 }
 .main{
    top:250px
 }
 }
